:host {
  display: inline;
}

math {
  display: inline;
  font-family: math, "STIX Two";
}

/** So that there's a visible space after the square root */
mroot > :first-child::after {
  content: "";
  width: 2px;
  height: 10px;
  position: absolute;
}

/** TODO: Remove this, this is a part of the default styles */
mtd {
  display: table-cell;
  text-align: center;
  padding: 0.5ex 0.4em;
}

.row-debug {
  border-radius: 8px;
  box-shadow: 0 1px 0 rgba(255, 0, 0, 0.425);
}
